</aside>
</div>
</div>
</section>
<footer>
    <div class="show-on-mobiles">
      <div style="display:inline-block">
          <div style="vertical-align:middle;">
            Copyright&copy;
            <span itemprop="copyrightYear">2017</span>
          </div>
      </div>
    </div>

  <div class="grid hide-on-mobiles">
    <div class="unit one-third center-on-mobiles">
        <div class="copyright">
          Copyright&copy;
          <span itemprop="copyrightYear">2017</span>
        </div>
    </div>
  </div>
</footer>
<script src="static/js/prism.js"></script>
<script src="static/js/zooming.js"></script>
<script src="static/js/style.js"></script>
</body>
</html>
