<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<title>Simple's Site</title>
<link rel='stylesheet' href='static/css/font-awesome.min.css' />
<link rel="stylesheet" href="static/css/screen.css" />
<link rel="stylesheet" href="static/css/prism_okaidia.css" />
<link rel="stylesheet" href="static/css/style.css">

<script src="static/js/jquery.min.js"></script>
</head>
<body class="wrap">
  <header>
    <nav class="mobile-nav show-on-mobiles">
      <ul>
          <li class="">
            <a href="/index">归档</a></li>
          <li class="">
            <a href="/time">时间</a></li>
          <li class="">
            <a href="/friendlink">友链</a></li>
          <li class="">
            <a href="/about">about</a></li>
      </ul>
    </nav>
    <div class="show-on-mobiles">
      <h1>
        <a href="/">
          <span>Simple</span>
          <img style="display:block;width:100%;" ></a>
      </h1>
    </div>
    <div class="grid hide-on-mobiles">
      <div class="unit test2 hide-on-mobiles">
        <h1>
          <a href="/">
            <span>Simple</span>
            <img width="449" height="115" alt=""></a>
        </h1>
      </div>
      <nav class="main-nav unit test1 hide-on-mobiles">
        <ul>
          <li></li><li></li><li></li><li></li><li></li>
          <li></li><li></li><li></li><li></li><li></li>
          <li></li><li></li><li></li><li></li><li></li>
          <li class="">
            <a href="/index">归档</a></li>
          <li class="">
            <a href="/time">时间</a></li>
          <li class="">
            <a href="/friendlink">友链</a></li>
          <li class="">
            <a href="/about">about</a></li>
      </ul>
      </nav>
    </div>
  </header>
