<div id="scroll" class="unit one-fifth hide-on-mobiles" style="position:absolute;left:30px">
    <div class="inner profile-inner">
    <div class="base-info profile-block">
        <img id="avatar" src="static/images/logo.jpg" > 
    </div>
    <div class="article-info profile-block hide-on-mobiles">
        <div class="article-info-block">
            <%=article_count %>
            <span>文章</span>
        </div>
        <div class="article-info-block">
            <%=type_count %>
            <span>标签</span>
        </div>
    </div>
    <div class="profile-block social-links hide-on-mobiles">
        <table>
            <tbody><tr>
                <td>
                    <i class="fa fa-github"></i></a>
                </td>
                <td>
                    <i class="fa fa-qq"></i></a>
                </td>
                <td>
                    <i class="fa fa-weibo"></i></a>
                </td>
                <td>
                    <i class="fa fa-rss-square"></i></a>
                </td>
            </tr>
        </tbody></table>
    </div>
    </div>
</div>
