<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Simple&#39;s site</title>
    <link rel="stylesheet" href="static/css/uno.css"></head>
      <body>
        <header class="panel-cover">
          <div class="panel-main">
            <div class="panel-main__inner panel-inverted">
              <div class="panel-main__content">
                <a href="/index">
                  <img src="static/images/logo.jpg" width="180" class="panel-cover__logo logo" /></a>
                <h1 class="panel-cover__title panel-title">
                  <a href="/index" title="link to homepage"><strong>Simple&#39;s site</strong></a></h1>
                <hr class="panel-cover__divider" />
                <div class="navigation-wrapper">
                  <nav class="cover-navigation cover-navigation--primary">
                    <ul class="navigation">
                      <li class="navigation__item">
                        <a href="/index" title="" class="blog-button">首页</a></li>
                      <li class="navigation__item">
                        <a href="/time" title="" class="">时间</a></li>
                      <li class="navigation__item">
                        <a href="/about" title="" class="">About</a></li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
            <div class="panel-cover--overlay"></div>
          </div>
        </header>
      </body>
</html>
